<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="images">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="images/logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">HOME</a></li>
                    <li><a href = "">CONTACT</a></li>
                    <li><a href = "/order">ORDER</a></li>
                </ul>
            </nav>  
        </div>

        <div class="row">
            <div class="col">
                <h1>Noks Sterlora</h1>
                <p>Our guitar shop has a rich history dating back to its founding by a traveling musician. Today, our team of expert luthiers and salespeople </p>
                <p>continue to carry on the founder's legacy, providing top-quality instruments and repairs to a community of passionate musicians.</p>
                <a href="https://www.youtube.com/watch?v=e0ueJwwOUIk&ab_channel=%E0%B9%82%E0%B8%A3%E0%B8%AA%E0%B8%A1%E0%B8%B5%E0%B9%80%E0%B8%94%E0%B8%B5%E0%B8%A2%E0%B9%81%E0%B8%AD%E0%B8%99%E0%B8%94%E0%B9%8C%E0%B9%80%E0%B8%AD%E0%B9%87%E0%B8%99%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B9%80%E0%B8%97%E0%B8%99%E0%B9%80%E0%B8%A1%E0%B9%89%E0%B8%99%E0%B8%97%E0%B9%8CRoseMedia%26Entertainment"><button type="button">Login (mock up)</button></a>
            </div>
            <div class="col">
                <div class="col1">
                    <a href="/order_electric_guitar" class="card card1">
                      <h5>Electric Guitar</h5>
                    </a>
                    <a href="/order_acoustic_guitar" class="card card2">
                      <h5>Acoustic Guitar</h5>
                    </a>
                    <a href="/order_bass_guitar" class="card card3">
                      <h5>Bass</h5>
                    </a>
                    <a href="/order_accessories" class="card card4">
                      <h5>Accessories</h5>
                    </a>
                  </div>
            </div>
    </div>

</div>
</body>
</html>